doctype html
html(lang="en")
  head
    title Analysis Admin

    meta(charset="utf-8")
    meta(http-equiv="Content-Type",content="text/html; charset=iso-8859-1")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

    !=styles

    //if lt IE 9
      script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')

    //
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/assets/ico/favicon.png')

  body

    // Top navbar
    .sleek
      .navbar.navbar-fixed-top(style='z-index:100000')
        .navbar-inner
            .container
              a.btn.btn-primary.btn-dropnav(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/') Analysis
                // - Logged In Right Menus
                - if (loggedIn)
                  div.btn-group.pull-right.nav(style='margin-top:4px')
                    a.btn.btn-primary.dropdown-toggle.mtm(data-toggle="dropdown",href="#")
                      i.icon-user
                      span.mls.mrs#titleBarUserName(style='font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:15px') #{preferredName} #{lastName}
                      span.login-caret.caret(style='border-top-color: white')
                    ul.dropdown-menu
                      - if (userID==rootUser)
                        li
                          a(href="account")
                        li.divider
                      li
                        a#LogOutLink(href="#")='Sign Out'

    // - Content Body
    #Fullscreen.init(style='position: absolute; left: 0; padding-top:10px;height:300px; z-index:999; overflow: hidden')

    // - Content Body
    #OuterContainer.container(style='padding-top:30px; z-index:1000')
      #InnerContainer
        #InitDiv(style='position: absolute !important; top: -9999px !important; left: -9999px !important')
        #errorBox.center.alert.alert-error(style='display:none; max-width:400px')
          h5#divErrorMsg
        #successBox.center.alert.alert-success(style='display:none; max-width:400px')
          h5#divSuccessMsg
        #ContainerRow.row
          #Content.span12(style='min-height:600px')!=content

    // Footer
    #Footer.sleek
      #copyright
        .container
          .row
            .span12
              p
                span.pull-right

    script(type='text/javascript')
    !=scripts
    !=exportsScript
    !=pageScript


